.skills-container {
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    color: rgb(244, 255, 255);
}

.skills {
    text-align: center;
    user-select: none;
}
