html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #003055;
    background-image: url("background.png");
    background-size: 2000px 1800px;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
    color: black;
    box-shadow: black;
}

.hl {
    display: flex;
    flex-direction: row;
}

.vl {
    display: flex;
    flex-direction: column;
}

.grows {
    transition-property: all;
    transition-duration: 0.3s;
}

.grows:hover {
    transform: scale(1.1);
}

.background-img {
    width: 100%;
}

.container {
    width: 100%;
    padding: 120px 150px;
}

.main-container {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.down-arrow {
    position: absolute;
    width: 10px;
    top: 98%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 20px;
    width: 900px;
    height: 500px;
    background-image: linear-gradient(to top, rgba(255,255,255,0.5), rgba(235, 145, 215, 0.3));
    border: 3px solid rgba(0,0,0,0.8);
}

.t5 {animation-duration: 5.083s;}
.t3 {animation-duration: 3.5432s;}
.t6 {animation-duration: 6.24s;}
.t2 {animation-duration: 1.9334s;}
.t2_5 {animation-duration: 2.58432s;}
.t3_5 {animation-duration: 3.4096s;}
.t7_5 {animation-duration: 7.4293s;}
.t4_5 {animation-duration: 4.5436s;}

.s30 {width: 30px; height: 30px;}
.s50 {width: 50px; height: 50px;}
.s20 {width: 20px; height: 20px;}
.s10 {width: 10px; height: 10px;}

.ball {
    position: absolute;
    top: 215px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    pointer-events: none;
    border-radius: 100%;
    background-color: white;
    opacity: 0.03;
    animation-name: profile-pic;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.profile-pic {
    width: 150px;
    border-radius: 100%;
    border: 2px solid black;
    transition-property: width;
    transition-duration: 0.5s;
}

.profile-pic:hover {
    width: 220px;
}

@keyframes profile-pic {
    0% {transform: rotate(360deg) translateX(209px);}
    100% { transform: rotate(0deg) translateX(209px);}
}

.profile-text {
    user-select: none;
    color: rgb(223, 227, 247);
    margin: 5px;
}

.profile-name {
    font-size: 60px;
}

.profile-occupation {
    margin-bottom: 20px;
}

.links-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.link {
    display: flex;
    flex-direction: row;
    float: left;
    margin: 10px 20px;
    border-radius: 3px;
    padding: 15px;
    background-image: linear-gradient(to top, rgba(150, 100, 200, 0.6), rgba(150, 100, 200, 0.9), rgba(200, 100, 150, 0.5));
    height: 25px;
    font-size: 22px;
    transition-property: opacity, height;
    transition-duration: 5s;
    user-select: none;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0,0,0,0.8);
}

.link:hover {
    background-image: linear-gradient(to top, rgba(150, 100, 200, 1), rgba(150, 100, 200, 1), rgba(200, 100, 150, 1));
    cursor: pointer;
}

.link:active {
    opacity: 0.2;
}

.link > span {
    margin: 6px;
    display: flex;
    align-items: center;
}

.link > img {
    height: 100%;
}
