html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #003055;
    background-image: url("background.png");
    background-size: 2000px 1800px;
    background-attachment: fixed;
    background-position: center;
}

.background-img {
    width: 100%;
}

.main-container {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    /*-webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 200, 200, 0)), to(rgba(200, 200, 200, 0)), color-stop(0.5, rgba(200, 200, 200, 0.5)), color-stop(0.5, rgba(200, 200, 200, 0.5))) 0 0 0 0 repeat repeat;*/
    /*background-color: rgba(200, 200, 200, 0.5);*/
}

.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 20px;
    width: 900px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(255,255,255,0.5), rgba(235, 145, 215, 0.3));
    border: 3px solid rgba(0,0,0,0.8);
}

.profile-pic {
    width: 150px;
    border-radius: 100%;
    border: 2px solid black;
    transition-property: width;
    transition-duration: 0.3s;
}

.t5 {animation-duration: 5.083s;}
.t3 {animation-duration: 3.5432s;}
.t6 {animation-duration: 6.24s;}
.t2 {animation-duration: 1.9334s;}
.t2_5 {animation-duration: 2.58432s;}
.t3_5 {animation-duration: 3.4096s;}
.t7_5 {animation-duration: 7.4293s;}
.t4_5 {animation-duration: 4.5436s;}

.s30 {width: 30px; height: 30px;}
.s50 {width: 50px; height: 50px;}
.s20 {width: 20px; height: 20px;}
.s10 {width: 10px; height: 10px;}

.ball {
    position: absolute;
    top: 215px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    pointer-events: none;
    border-radius: 100%;
    background-color: white;
    opacity: 0.03;
    animation-name: profile-pic;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.profile-pic:hover {
    width: 180px;
}

@keyframes profile-pic {
    0% {transform: rotate(360deg) translateX(209px);}
    100% { transform: rotate(0deg) translateX(209px);}
}

.profile {
    color: rgb(30, 20, 30);
    margin: 10px;
}

.profile-name {
    font-size: 40px;
}

.profile-occupation {
    margin-bottom: 20px;
}

.links-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.link {
    display: flex;
    flex-direction: row;
    float: left;
    margin: 10px 20px;
    border-radius: 3px;
    padding: 15px;
    background-image: linear-gradient(to top, rgba(150, 100, 200, 0.6), rgba(150, 100, 200, 0.9), rgba(200, 100, 150, 0.5));
    height: 25px;
    font-size: 22px;
    transition-property: opacity;
    transition-duration: 0.2s;
    user-select: none;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0,0,0,0.8);
}

.link:hover {
    background-image: linear-gradient(to top, rgba(150, 100, 200, 1), rgba(150, 100, 200, 1), rgba(200, 100, 150, 1));
    cursor: pointer;
    /*animation-name: link-hover;*/
    /*animation-duration: 2s;*/
}

.link:active {
    opacity: 0.7;
}

/*@keyframes link-hover {*/
    /*0% {*/
        /*height: 25px;*/
    /*}*/
    /*50% {*/
        /*height: 40px;*/
    /*}*/
    /*100% {*/
        /*height: 25px;*/
    /*}*/
/*}*/

.link > span {
    margin: 6px;
    display: flex;
    align-items: center;
}

.link > img {
    height: 100%;
}

.modal {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    position: relative;
    width: 100%;
    height: 100%;
}

.close {
    box-sizing: border-box;
    font-size: 40px;
    color: white;
    padding: 10px;
}

.close:hover {
    cursor: pointer;
}

.close:active {
    opacity: 0.5;
}

.modal-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#resume {
    align-self: center;
    box-sizing: border-box;
    width: 800px;
    height: 100%;
}

.test {
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    background-image: linear-gradient(to top, rgba(8, 0, 8, 1), rgba(80, 60, 80, 1));
}

.bio {
    text-align: center;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    color: rgb(200, 190, 200);
    user-select: none;
}

.bio p, span{
    font-size: 20px;
}

.interests {
    text-align: center;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-bottom: 80px;
    width: 40%;
    user-select: none;
    transition-property: margin;
    transition-duration: 0.5s;
}

.interests:hover {
   margin-bottom: 30px;
}

.interests:hover .interest {
    margin-bottom: -10px;
}

.interest {
    box-sizing: border-box;
    margin-bottom: -60px;
    background-color: rgb(130, 80, 80);
    width: 100%;
    padding: 20px;
    font-size: 20px;
    color: rgb(220, 200, 220);
    border: 1px solid rgb(170, 130, 170);
    border-radius: 10px;
    transition-property: margin;
    transition-duration: 0.5s;
}

.bio h2 {
    color: rgb(240, 220, 240);
}

.bio-container {
    padding: 10px 0;
    width: 100%;
}

.skills-container h2 {
    margin: 0;
    padding: 10px;
}

.skills {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    list-style: none;
}

.skills:hover .skill {
    margin-right: 5px;
    margin-left: 5px;
}

.skills li {
    display: inline;
}

.skill {
    margin: 0 -20px;
    float: left;
    width: 50px;
    transition-property: margin;
    transition-duration: 0.5s;
}