.projects-container {
    box-sizing: border-box;
    background-color: rgb(40, 40, 85);
    color: white;
    align-items: center;
}

.projects {
    padding: 10px;
    align-items: stretch;
    box-sizing: content-box;
    color: black;
    perspective: 1000px;
}

.projects > .project {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 85);
    min-height: 250px;
}

.project-name {
    padding: 30px;
    font-size: 22px;
    background-image: linear-gradient(to bottom, rgb(255, 235, 255), rgb(105, 85, 105));
    transform: rotateX(35deg);
    transition-property: box-shadow, transform;
    transition-duration: 0.2s;
    margin-bottom: 20px;
}

.project-name:hover {
    transform: rotateX(0deg);
    box-shadow: 0 2px 5px 1px;
}

.right-shadow {
    box-shadow: 10px 10px 5px 3px;
}

.left-shadow {
    box-shadow: -10px 10px 5px 3px;
}

.middle-shadow {
    box-shadow: 0 10px 5px 3px;
}

.project-description {
    color: rgb(45, 35, 45);
    padding: 10px;
    background-color: rgb(230, 220, 230);
    flex: 1;
    text-align: left;
}

.project-waiveo {
    display: flex;
    height: 100%;
    flex-direction: column;
    border: 1px solid gold;
}

.project-waiveo-wrapper {
    padding: 10px 20px;
}

.project-waiveo-wrapper-small-only {
    display: none;
}

.project-name-waiveo {
    position: relative;
    overflow: hidden;
    background-image: radial-gradient(circle at 30px 30px, #fff2ab, gold);
    padding: 20px;
    text-align: center;
    font-size: 22px;
}

.project-description-waiveo {
    padding: 10px;
    color: white;
    background-color: #4e4201;
    text-align: left;
    flex: 1;
}

.project-name-waiveo:after {
  
    animation: shine 8s ease-in-out infinite;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: 0;
    left: -700px;
    width: 700px;
    height: 50px;
    opacity: 0;
    transform: rotate(60deg);
    
    background: linear-gradient(
      to top, 
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 20%,
      rgba(255, 255, 255, 0.7) 80%,
      rgba(255, 255, 255, 0) 100%
    );
}

@keyframes shine{
    40% {
        opacity: 1;
        top: 0;
        left: -500px;
        transition-property: left, top, opacity;
        transition-duration: 0.2s, 0s, 0.2s;
        transition-timing-function: ease-in-out;
    }
    60% {
        opacity: 0;
        top: 0;
        left: 500px;
        transition-property: left, top, opacity;
    }
}

@media screen and (max-width: 900px) {
    .projects {
        flex-direction: column;
    }

    .project-waiveo-wrapper {
        display: none;
    }

    .project-waiveo-wrapper-small-only {
        display: block;
    }
}
