.skills-container {
    text-align: center;
    align-items: center;
    padding: 30px;
    color: rgb(244, 255, 255);
    user-select: none;
}

.skills {
    display: inline-block;
    max-width: 90%;
    padding: 5px;
    flex-wrap: wrap;
    text-align: center;
    user-select: none;
    list-style: none;
    margin: 0;
}

.skill {
    display: inline-block;
}