/*------------------------*/
/*------Basic-Tags--------*/
/*------------------------*/
html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 17, 44);
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@media only screen and (max-device-width: 500px) and (max-aspect-ratio: 1/1){
    body {
        background-size: 3150px;
    }
}

a {
    text-decoration: none;
    color: black;
    box-shadow: black;
}

/*------------------------*/
/*-----Global-Classes-----*/
/*------------------------*/

/* flexboxes */
.hl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.vl {
    display: flex;
    flex-direction: column;
}

/* elements that resize on hover */
.grows {
    transition-property: transform;
    transition-duration: 0.3s;
}

.grows:hover {
    transform: scale(1.1);
}

/* container */
.container {
    width: 100%;
    padding: 120px;
    box-sizing: border-box;
    max-width: 100%;
}

/* section */
.hl > .section {
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
}


@media screen and (max-width: 1200px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}